// Cores base do projeto
$base-primary: #004A98;
$base-secondary: #FBED00;

// Cores originadas a partir da base que serão usadas no projeto
$base-darker: #0D0630;
$base-dark: #21295C;
$base-light: #FCC895;
$base-lighter: #FFFDFD;


$theme-colors: (
  "dark": $base-darker,
  "light": $base-lighter,
  "primary": $base-primary
);

.bg-soft-light{
	background-color: $base-light;
}
